.banner {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 180px 0;
}

.banner h1 {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.banner p {
    padding-bottom: 20px;
    color: white;
    opacity: .7;
    font-size: 20px
}


  